{% extends 'base.html' %}

{% block title %}
admin
{% endblock %}

{% block body %}
<h1>Welcome to our library</h1>
<div>
    {% for book in books %}
    {% if book in favs %}
     <a href="/library/{{book}}" style="color:#FF0000;">{{book}}</a><br>
    {% else %}
    <a href="/admin/{{book}}">{{book}}</a><br>
    {% endif %}
    {% endfor %}
    <a href="/addbookadm"><button>Add New Book</button></a>
</div>
<div>
    <a href="/admindel"><button>delete user or book</button></a>
    <a href="/edit_adm_favorites"><button>edit favorites</button></a>
</div>

{% endblock %}